{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <h4 class="text-center">Generator PESEL</h4>
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="row justify-content-center align-items-center">
            <div class="form-group col-md-4">
                {{ form_row(form.gender) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(form.dateOfBirth) }}
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-2 text-center">
                <button class="btn btn-primary mt-4" type="submit">Generuj</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {% if pesel %}
        <hr>
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    Wygenerowany PESEL
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pesel }}</h5>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}